body{
    background-color: green;
}



li{
    background-color: aliceblue;
    margin: 32px;
    border-radius: 10px;
    list-style-type:none;
    
}


a{
    background-color:grey;
    margin: 70px;
    border-radius: 10px;
    text-decoration: none; 
}

a:hover{
    background-color: blue;
}

#space{
    text-align: right;
}