header img{
    width: 200px;
    border-radius: 100px;
  
}
 body{
     background-color: wheat;
     font-family: 'Courier New', Courier, monospace;
 }
 h1{
     font-size: 52px;
     color: purple;

 }

 header {
     text-align: center;
     padding: 32px;
     margin: 5px;
     background-color: rosybrown;
 }
 main{
     background-color: sienna;
     padding:32PX;
     margin: 32px auto;
     width: 700px;
     border-radius: 8px;
     color:wheat;

 }

 ol{
     margin: 0;
     padding: 0;
     list-style: none;
 }

 li{
     margin: 14px 0;
     padding-left: 10px;
     border-left: 5px solid transparent;
 }

 .extra-important{
     color:rgb(247,237,177);
     border-color: rgb(247,209,85);
 }
/* .remove{
      text-decoration: none;
      background-color: yellowgreen;
      padding:2px 6px;
      border-radius: 4px;
  } */

a{
    text-decoration: none;
    color: khaki;
}

a:hover{
    background-color: grey;
}


footer{
    background-color: honeydew;
    margin: 20px ;
    text-align: center;
}