body{
    background-color:rgb(73, 73, 98);
}
/* #page-logo a {
    margin: 0;
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    text-decoration:none;
    font-size: 50px;
    text-transform:uppercase;
    text-shadow: 1px 1px 2px black;
    color:slateblue;
    
  }
ol{
    list-style:none;       
} */

